/* dashboard/static/dashboard/styles.css */

body {
    background-color: #f8f9fa;
    font-family: 'Roboto', sans-serif;
    padding-top: 50px;
}

/* Fix for the Scrolling Banner */
.top-banner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: white;
    color: #333;
    display: flex;
    align-items: center;
    overflow: hidden; /* This is crucial for the animation */
    z-index: 1000;
    border-bottom: 1px solid #ddd;
}

.news-label {
    padding: 0 20px;
    font-weight: bold;
    font-size: 15px;
    color: white;
    background-color: #4CAF50;
    height: 100%;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

@keyframes scroll-left {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
}

.scrolling-text-container {
    display: inline-block;
    white-space: nowrap;
    padding-left: 100%;
    font-size: 15px;
    animation: scroll-left 25s linear infinite;
    color: #4CAF50;
}
/* End of Banner Fix */

.custom-title {
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    text-align: center;
    font-size: 28px;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.kpi-container {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
    flex-wrap: wrap;
}

.kpi-box {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
    border-top: 4px solid #208c25;
    flex: 1;
    margin: 10px;
    min-width: 150px;
}

.kpi-box h4 {
    font-size: 16px;
    font-weight: 400;
    color: #4A525A;
    margin-top: 0;
}

.kpi-box .kpi-value {
    font-size: 18px;
    font-weight: 600;
    color: #343a40;
}

.kpi-change {
    display: flex;
    align-items: center;
    justify-content: center;
}

.kpi-change span {
    margin-left: 5px;
}

/* Styles for Tabsets to match R Shiny App */
.nav-pills .nav-link {
    border-radius: 4px;
    color: #208c25;
    font-weight: bold;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #ffffff;
    background-color: #4CAF50;
}

.nav-pills .nav-link:hover {
    background-color: #e7e7e7;
}

.tab-content {
    background-color: #f8f6f1;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
    margin-top: -1px; /* Pulls the card up slightly to meet the tabs */
    border: 1px solid #ddd;
}
/* End of Tabset Styles */

.fab {
    position: fixed;
    bottom: 40px;
    right: 40px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #4CAF50;
    color: white;
    border: none;
    font-size: 24px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fab:hover {
    background-color: #45a049;
}

.footer-container {
    padding: 20px;
    margin-top: 20px;
    border-top: 1px solid #e9ecef;
}